li {
  list-style: none;
  padding-right: 5px;
  float: right;
}

.no-float {
  clear: both;
}

section.separate,
span.job-dates {
  padding-bottom: 10px;
}

.job-dates {
  font-style: italic;
}

.job-title {
  padding-top: 25px;
  font-weight: 700;
}

.job > span {
  display: block;
}

footer {
  margin-top: 45px;
}